@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violeta: hsl(257, 40%, 49%);
  --rosa: hsl(300, 69%, 71%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--violeta);
  color:#fff;
  font-size: 1.4em;
  background-image: url("./assets/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;

}
h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  opacity: 0.8;
}

img {
  max-width: 90%;
}

.container {
  margin:auto;
  max-width:100%;
  width: 1200px;
}

.center {
  display: flex;
  margin: 100px 0;
}

.center > div:first-child{
  flex:0.6;
  margin-right:20px
}

.center > div:last-child{
  flex: 0.4;
  margin-left:20px
}

button {
  background-color: #fff;
  color:var(--violeta);
  border-radius: 50px;
  border:none;
  font-size: 20px;
  padding: 20px 80px;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,3);
  cursor: pointer;
}
button:hover{
  color:var(--violeta);
  border-color: var(--rosa);
  background-color: var(--rosa);
 
}
.links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

.links a {
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 8px;
  color: #fff;
  height: 50px;
  width:50px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}
.links a:hover {
  color:var(--rosa);
 border-color: var(--rosa);

}


@media screen and (max-width:768px) {
  .center {
    flex-direction: column;
    margin: 50px 0;
  }

  .center > div:first-child{
    flex:0.6;
    margin-right:0;
  }
  
  .center > div:last-child{
    flex: 1;
    margin-left:0;
    text-align: center;
  }
  .links {
    justify-content: center;
  }
}
